node_modules/
package-lock.json
**/.DS_Store
.env

data/analytics.json
data/notepad.json
www/slides/videos/*
www/slides/images/*
www/slides/week*.html

www/jam/culture-jamming-syllabus.pdf
www/jam/data
