node_modules/
package-lock.json
**/.DS_Store
.env

data/analytics.json
data/notepad.json

www/classes/jam/culture-jamming-syllabus.pdf
www/classes/jam/data
www/classes/netart2/notes/web-audio/ex/sound-fonts/*/*
!www/classes/netart2/notes/web-audio/ex/sound-fonts/Baritone_Sax-Reed/0670_Aspirin_sf2_file.js
!www/classes/netart2/notes/web-audio/ex/sound-fonts/Music_Box-Chromatic_Percussion/0100_SBLive_sf2.js
!www/classes/netart2/notes/web-audio/ex/sound-fonts/Choir_Aahs-Ensemble/0520_Soul_Ahhs_sf2_file.js

data/classes/netart2-spring2021.json
