:root {
  --paper: rgba(0,0,0,.65);
  --paper-light: #fcffd9;
  --txt: #fafafa;
  --dark: #060d1d;
  --grey: #272527;
  --light-grey: #7E7E7F;
  --white: #e7e7f0;
  --purple: #ce317e;
  --purple2: #ce84a8;

  --green: #82E22E;
  --blue: #66D9CF;
  --red: #FC7575;
  --yellow: #ffe372;
  --red: #FC7575;
  --orange: #E96926;

  --start-size: 0vh;
  --end-size: 300vh;
}


@font-face {
    font-family: 'fira-sans-bold';
    src: url('fonts/firasans-bold-webfont.woff2') format('woff2'),
         url('fonts/firasans-bold-webfont.woff') format('woff');
    font-weight: normal;
    font-style: normal;

}

@font-face {
    font-family: 'fira-sans-regular';
    src: url('fonts/firasans-regular-webfont.woff2') format('woff2'),
         url('fonts/firasans-regular-webfont.woff') format('woff');
    font-weight: normal;
    font-style: normal;
}

@font-face {
    font-family: 'fira-mono-regular';
    src: url('fonts/FiraMono-Regular.woff2') format('woff2'),
         url('fonts/FiraMono-Regular.woff') format('woff');
    font-weight: normal;
    font-style: normal;
}

* { box-sizing: border-box; }

*::-moz-selection {
  background-color: var(--purple);
  color: var(--txt);
}

*::selection {
  background-color: var(--purple);
  color: var(--txt);
}

body {
  padding: 0; margin: 0;
  background-color: var(--dark);
  background-size: contain;
  background-attachment: fixed;
  color: var(--txt);
  font-family: 'fira-sans-regular', sans-serif;
  text-rendering: optimizeLegibility;
  -webkit-font-smoothing: antialiased;
/*  cursor: url(../img/cursor-hov.png), auto !important;*/
}

a {
  color: var(--txt);
  border-bottom:4px solid var(--purple);
  text-decoration: none;
  padding:0 0.25em;
}

a:hover {
  cursor: pointer;
  color: var(--purple);
  background-color: var(--txt);
}

h2, h3, h4, h5 {
  color: var(--yellow);
}

.yeltxt {
  color:var(--yellow);
}

/*pre {
  margin: 0 auto;
  font-family: 'fira-mono-regular', monospace;
}

canvas {
  position: absolute;
  top: 0;
  left: 0;
  z-index: -1;
}
*/
section {
  max-width: 720px;
  padding: 2em 5em;
  margin: 0 auto;
  line-height: 1.5em;
}

.heading {
  width: 100%;
  padding: 2em;
  margin: 0 auto;
  position: relative;
  display: flex;
  justify-content: center;
  align-items: center;
  flex-direction: column;
  top:0;
  z-index: 100;
}

.heading img {
  width:250px;
}
.heading .h1title{
  font-size:2em;
  background-color: #FFF;
  color:var(--dark);
  padding: .25em .5em;
  margin:.25em;
  border-radius: 1em;
  box-shadow: 0px 10px 5px rgba(0,0,0,.5)
}

.heading .h2title{
color:#fff; padding-top: 1em; font-size:1.5em; text-shadow: 0px 2px 5px rgba(0,0,0,.5)
}

.date{
  display: block;
  padding-top:.75em;
}

.bigq{
  font-size: 2.5em; 
  line-height: 1.15em;
  font-weight: 2;
  text-align:center;
  display:relative;
  z-index:20;
  padding:0 6em 2em 6em ;
  text-shadow: 0px 2px 5px rgba(0,0,0,.5)
}

blockquote{
  margin:0 auto;
  padding:0 auto;
}

.deets{
  background: radial-gradient(circle, rgba(206,49,126,0.3127450809425333) 0%, rgba(6,13,29,1) 100%); 
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
  background-color: #060d1d;
  border-radius: 1em;
  padding:2em ;
}

.main-content{
  z-index: 20;
  border-radius:.5em;
  background-color: var(--paper);
  position: relative;
  border:8px solid var(--txt);
}

.center { text-align: center; }
.small { font-size: 14px; }

#mc_embed_signup_scroll {
  background: #94ffce33;
  max-width: 370px;
  width: 100%;
  padding: 20px;
  border: 1px solid #94ffce;
  margin: 0 auto;
}

input {
  font-family: 'fira-mono-regular', monospace;
  background: none;
  color: var(--white);
  border: none;
  border-bottom: 1px solid var(--white);
  padding: 5px;
  margin: 15px;
  max-width: 300px;
  width: 100%;
  display: block;
}

input[type="submit"] {
  border: 1px solid var(--white);
  background: var(--white);
  color: var(--grey);
  text-transform: uppercase;
  cursor: pointer;
}

.info {
  display: flex;
  justify-content: space-between;
  margin: 50px auto;
}

.info > p {
  margin: 10px;
}

.viewing{
  display: flex;
  flex-direction: row;
  justify-content: space-around;
}

.viewing div{
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
}

.viewplay{
  width:75px;
}

a.act{
  border:1px solid var(--txt);
  background-color:var(--purple);
  text-decoration: none;
  color:var(--txt);
  padding:.5em 1em;
  margin:1em;
  border-radius: .5em;
  margin:2em 0;
  transition: all 1s;
}

a.act:hover{
  border:1px solid var(--purple);
  background-color:var(--paper);
  color:var(--txt);
  transition: all .25s;
}

hr{
  margin:2em 0;
  padding:6px;
  display: block;
  width:100%;
  background-color: var(--txt)
}

.parts{
  width:33%;
  border:1px solid var(--txt);
  font-size: .75em;
  text-align: center;
  line-height: 1.5em;
  padding:.5em 2em;
  background-color:var(--dark);
  border-radius: .5em;
}

.speaker{
  border-radius: 100%;
  width:200px;
  border:4px solid var(--txt);
}

footer{
  display: flex;
  flex-direction: row;
  justify-content:space-between;
  max-width: 800px;
  outline-offset: 2px;
  padding: 20px;
  margin: 0 auto;
}

footer img{
  max-width:400px;

}



#box {
    display: flex;
    align-items: center;
    justify-content: center;
    width: 400px;
    height: 200px;
    font-size: 2.5rem;
}

.gradient-border {
  --borderWidth: 10px;
  background: var(--paper-light);
  position: relative;
  border-radius: var(--borderWidth);
}
.gradient-border:after {
  content: '';
  position: absolute;
  top: calc(-1 * var(--borderWidth));
  left: calc(-1 * var(--borderWidth));
  height: calc(100% + var(--borderWidth) * 2);
  width: calc(100% + var(--borderWidth) * 2);
  background: linear-gradient(60deg, rgba(194,255,0,1) 0%, rgba(255,162,0,1) 39%, rgba(232,255,0,1) 100%); 
  border-radius: calc(2 * var(--borderWidth));
  z-index: -1;
  animation: animatedgradient 3s ease alternate infinite;
  background-size: 300% 300%;
}


@keyframes animatedgradient {
  0% {
    background-position: 0% 50%;
  }
  50% {
    background-position: 100% 50%;
  }
  100% {
    background-position: 0% 50%;
  }
}




.schedule {
  max-width: 800px;
  border: 1px solid var(--white);
  outline: 1px solid var(--white);
  outline-offset: 2px;
  padding: 20px;
  margin: 0 auto;
}

.s-row {
  display: flex;
  justify-content: space-between;
}

.s-row div:nth-child(2) {
  text-align: left;
}

.codedlogo{
  width:300px; 
  margin:2em 0 0 0;
}

.speakerlogo{
  display:flex;
  flex-direction: row;
  justify-content:space-between;
  align-items: center;
}

.speakerlogo img{
  width:40% ;
}

.footlogos{
  display:flex;
  flex-direction:column;
  justify-content: center;
  align-content: center;
  text-align: center;
}

.footlogos a, .footlogos a:hover{
  text-decoration: none;
  background-color: transparent;
  border:0;
}

.footlogos img{
  align-self: center;
}

@media (max-width: 800px) {
  .info { flex-direction: column; }

  .s-row {
    flex-direction: column;
    margin-bottom: 20px;
  }

  .heading .h1title{
    font-size: 1.5em;
  }
  .heading .h2title{
  font-size:.75em;
  text-align: center
  }

  .bigq{
    font-size: 2em; 
    line-height: 1.15em;
    font-weight: 2;
    text-align:center;
    display:relative;
    z-index:20;
    padding:2em 1em;
  }

.speakerlogo{
  display:flex;
  flex-direction: column;

}

  .codedlogo{
    width:100%; 
    margin:2em 0 0 0;
  }


  section{
    padding: 2em 1em;
    margin: 1em;
  }

  .main-content{
    border-width:2px;
  }

.footlogos{
  display:flex;
  flex-direction:column;

}

  footer{
    display: flex;
    flex-direction: column;
    justify-content:space-between;
    max-width: 800px;
    outline-offset: 2px;
    padding: 20px;
    margin: 0 auto;
  }

  footer img{
    width:100%;
  }
}
