@keyframes fadeInBG {
  100% { opacity: 1 }
}

.frame {
  width: 100vw;
  height: 100vh;
  position: fixed;
  top: 0;
  left: 0;
  z-index: -1;
  opacity: 0;
  filter: blur(8px);
  background: radial-gradient(var(--blue), var(--purple));
  animation-name: fadeInBG;
  animation-duration: 16s;
  animation-fill-mode: forwards;
}

@keyframes expandCircle {
  100% {
    width: var(--end-size);
    height: var(--end-size);
    border-width: calc(var(--end-size) * 0.1);
    top: calc(50vh - var(--end-size) / 2);
    left: calc(50vw - var(--end-size) / 2);
    border-color: var(--red);
    transform: rotate(230deg);
  }
}

.circle {
  width: var(--start-size);
  height: var(--start-size);
  border-radius: 50%;
  border-style: dotted;
  border-width: var(--start-size);
  border-color: var(--yellow);
  opacity: 0.5;
  position: absolute;
  top: calc(50vh - var(--start-size) / 2);
  left: calc(50vw - var(--start-size) / 2);
  transform: rotate(0deg);
  animation-name: expandCircle;
  animation-duration: 10s;
  animation-iteration-count: infinite;
}
