:root {
  --grey: #272527;
  --light-grey: #7E7E7F;
  --white: #e7e7f0;
  --purple: #7272D6;
  --green: #82E22E;
  --blue: #66D9CF;
  --red: #FC7575;
  --yellow: #E6DB6F;
  --red: #FC7575;
  --orange: #E96926;

  --bg:#1c1c36;
  --fg-color:#c76ebc;
  --txt:#c3c3db;
  --xtra-white: #ffffff;

  --start-size: 0vh;
  --end-size: 300vh;


  --netizen-text: #e7e5c9;
  --netizen-background: #1c1c3600;
  --netizen-comment: #515199;
  --netizen-tag-bracket: #c3c3db;
  --netizen-property: #c3c3db;
  --netizen-atom: #c3c3db;
  --netizen-def: #c3c3db;
  --netizen-variable-3: #c3c3db;
  --netizen-meta: #c3c3db;
  --netizen-variable: #d5805e;
  --netizen-variable-callee: #82ccd7;
  --netizen-variable-2: #82ccd7;
  --netizen-string: #82ccd7;
  --netizen-string-2: #82ccd7;
  --netizen-number: #E6DB6F;
  --netizen-operator: #c76ebc;
  --netizen-tag: #c76ebc;
  --netizen-attribute: #81c994;
  --netizen-qualifier: #81c994;
  --netizen-builtin: #81c994;
  --netizen-keyword: #81c994;
  --netizen-line-numbers: #9885a6;
  --netizen-active-line-bg: #c3c3db;
  --netizen-selected: #c8c8fa19;
  --netizen-match-color: #e7e5c9;
  --netizen-match-border: #515199;
  --netizen-hint-color: #1c1c36;
  --netizen-hint-bg: #dacb8e;
  --netizen-hint-shadow: #515199BF;
  --fg-color: #c76ebc;
  --bg-color: #1c1c36;
  --bg-color-alpha:rgba(6,13,29,.9);


}

@font-face {
    font-family: 'fira-sans-bold';
    src: url('fonts/firasans-bold-webfont.woff2') format('woff2'),
         url('fonts/firasans-bold-webfont.woff') format('woff');
    font-weight: normal;
    font-style: normal;
}

@font-face {
    font-family: 'fira-sans-regular';
    src: url('fonts/firasans-regular-webfont.woff2') format('woff2'),
         url('fonts/firasans-regular-webfont.woff') format('woff');
    font-weight: normal;
    font-style: normal;
}

@font-face {
    font-family: 'fira-mono-regular';
    src: url('fonts/FiraMono-Regular.woff2') format('woff2'),
         url('fonts/FiraMono-Regular.woff') format('woff');
    font-weight: normal;
    font-style: normal;
}

@font-face {
    font-family: 'pixel-eng';
    src: url('fonts/pixeled_english_font-webfont.woff2') format('woff2'),
         url('fonts/pixeled_english_font-webfont.woff') format('woff');
    font-weight: normal;
    font-style: normal;
}

@font-face {
    font-family: 'pixel-comp';
    src: url('fonts/computer_pixel-7-webfont.woff2') format('woff2'),
         url('fonts/computer_pixel-7-webfont.woff') format('woff');
    font-weight: normal;
    font-style: normal;
}


* { box-sizing: border-box; }

*::-moz-selection {
  background-color: var(--purple);
  color: var(--white);
}

*::selection {
  background-color: var(--purple);
  color: var(--white);
}

body {
  padding: 0; margin: 0;
  background-color: var(--bg);
  color: var(--netizen-meta);
  font-family: 'fira-mono-regular', monospace;
  text-rendering: optimizeLegibility;
  -webkit-font-smoothing: antialiased;
  cursor: url(../images/cursor-hov.png), auto !important;
}

p{
  line-height:1.5em;
}

.announce{
  background-color: var(--fg-color);
  color:var(--xtra-white);
  padding:.5em;
  line-height:1em;
  text-shadow: var(--bg) 1px 1px;
}

a {
  color: var(--xtra-white);
  text-decoration: underline;
  text-decoration-color: var(--purple);
  font-weight:600;
}

a:hover {
  cursor: pointer;
  color: var(--xtra-white);
  text-decoration: underline;
  text-decoration-color: var(--xtra-white);
  text-shadow: var(--bg) 2px 2px;
  font-weight:600;
}

pre {
  margin: 0 auto;
  font-family: 'fira-mono-regular', monospace;
  color:var(--white);
}

.header  {
  display: flex;
  flex-direction: row; 
  justify-content: center; 
  padding:4em 1em 4em 1em;
  font-size: .5em;
  margin: 0 auto;
  font-family: 'fira-mono-regular', monospace;
}

.header a, .header a:visited {
  color:#FFF;
  }
.header a:hover {
  color:#94ffce;
  }

canvas {
  position: absolute;
  top: 0;
  left: 0;
  z-index: -1;
}

section {
  max-width: 1200px;
  padding: 10px;
  margin: 0 auto;
}


ul, li{
  display: block;
  list-style:none;
  list-style-position:inside;
  margin:0;
  padding:0;
}

.center { text-align: center; }
.small { font-size: 14px; }

#mc_embed_signup_scroll, #authform, #profileform {
  background: #94ffce33;
  max-width: 370px;
  width: 100%;
  padding: 20px;
  border: 1px solid #94ffce;
  margin: 0 auto;
}

#authform p, #profileform p, #crewactionform p{
  padding-left: 1.75em;
}



.grid {
  display: grid; /* 3 column grid, equal sized columns */
  grid-template-columns: 1fr 1fr 1fr;
}

@media (max-width: 1180px) {
  .grid { grid-template-columns: 1fr 1fr; }
}

@media (max-width: 790px) {
  .grid { grid-template-columns: 1fr; }
}


input {
  font-family: 'fira-mono-regular', monospace;
  background: none;
  color: var(--white);
  border: none;
  border-bottom: 1px solid var(--white);
  padding: 5px;
  margin: 15px;
  max-width: 300px;
  width: 100%;
  display: block;
}

input[type="submit"] {
  border: 1px solid var(--white);
  background: var(--white);
  color: var(--grey);
  text-transform: uppercase;
  cursor: pointer;
}

a.formhelp{
  font-size: .75em;
  padding-right:1em;
  width: 100%;
  display:block;
  text-align:right;
  color: var(--light-grey);
}
a.formhelp:hover{
  font-size: .75em;
  color: var(--white);
}

label {
  padding-left:1em;
}

strong{
  color:var(--xtra-white);
  text-shadow: var(--bg) 3px 3px;
}

blockquote{
  font-size: 2.5em;
  font-family:pixel-comp;
  line-height: .75em;
 text-shadow: var(--bg) 3px 3px;
}

.homelinks{
  padding:.5em 2em; font-family:'pixel-comp'; font-size:1.5em
}

.homelinks > li{
  padding:.5em 2em; font-family:'pixel-comp'; font-size:1.5em
}

.info {
  display: flex;
  justify-content: space-between;
  margin: 50px auto;
}

.info > p {
  margin: 10px;
}

.p-button{
  position:relative;
  transform:translate(0,0);
  border:none;
  border-radius:25px;
  padding:5px 15px;
  color:var(--xtra-white);
  background-color: var(--fg-color);
  text-decoration: none;
  text-shadow:none;
  white-space: nowrap;
  box-shadow: 2px 2px 6px var(--netizen-hint-shadow);
  cursor: pointer;
  transition: box-shadow .3s ease, transform .3s ease;
  padding: .75em 1.25em;
  margin:1em 1em 1em 1em;
  line-height: 4em;
}
.p-button:hover{
transform: translate(1px, 1px);
box-shadow: 1px 1px 3px var(--netizen-hint-shadow);
margin:1.5em 1em 1em 1.25em;
}

.pagetxt {
 margin:0 auto;
 padding: 0 2em;
}

.pagetxt p {
  border-left: 3px double var(--fg-color);
  padding-left:1em;
  margin-right:4em;
  min-width: 35ch;  
}
.pagetxt h1 {
  color:var(--fg-color);
  text-shadow: var(--bg) 3px 3px;
  font-family:'pixel-comp', monospace;
  font-weight: 100;
  border-bottom:3px solid var(--fg-color);
  display: inline-block;
  margin:0 auto;
  padding:0;
  line-height: 1em;
  font-size: 4em;
}

.pagetxt h2 {
  border-right: solid 3px rgba(255,255,255,.75);
  text-shadow: var(--bg) 3px 3px;
  white-space: nowrap;
  overflow: hidden;    
  font-size: 28px;
}

.pagetxt * img{
  max-width: 400px;
  height: auto;
  object-fit: scale-down;
  margin:0 auto;
}

.pagetxt > article{
  display: flex;
  flex-direction: row;
  padding-bottom:2em;
}

.pagetxt > article > .l-pad{
  padding-right:4em;
}
.pagetxt > article > p:nth-child(2){
  flex-basis: 60%;
}

.pagetxt * ul{
  list-style: circle !important;
  padding-left:2em;
  }

.pagetxt * li{
  list-style: circle !important;
  padding-left:2em;
  }

/*there's def a more elegant way to do this... I'm estimating the lenght of the h3 in the animator and delaying it based on it's flow in the page*/
/* text animation remixed from https://frontendscript.com/pure-css-typing-text-animation-with-blinking-cursor/*/

.whatsbf {
  animation: anim-txt-whatsbf 4s steps(29,end) .5s 1 normal both,
  animated-cursor 600ms steps(29,end) infinite;
}
.wwwork {
  animation: anim-txt-wwwork 4s steps(29,end) .5s 1 normal both,
  animated-cursor 600ms steps(29,end) infinite;
}
.howwwdy {
  animation: anim-txt-howwwdy 4s steps(29,end) .5s 1 normal both,
  animated-cursor 600ms steps(15,end) infinite;
}
.ccoding {
  animation: anim-txt-ccoding 4s steps(29,end) 1s 1 normal both,
  animated-cursor 600ms steps(29,end) infinite;
}
.needcode {
  animation: anim-txt-needcode 4s steps(29,end) 1.5s 1 normal both,
  animated-cursor 600ms steps(29,end) infinite;
}
.inttut {
  animation: anim-txt-inttut 4s steps(29,end) 1s 1 normal both,
  animated-cursor 600ms steps(29,end) infinite;
}
.creativeplay{
  animation: anim-txt-creativeplay 4s steps(29,end) 1s 1 normal both,
  animated-cursor 600ms steps(29,end) infinite;
}

@keyframes anim-txt-whatsbf{
  from{width: 0;}
  to{width: 365px;}
}
@keyframes anim-txt-howwwdy{
  from{width: 0;}
  to{width: 215px;}
}
@keyframes anim-txt-ccoding{
  from{width: 0;}
  to{width: 280px;}
}
@keyframes anim-txt-needcode{
  from{width: 0;}
  to{width: 315px;}
}
@keyframes anim-txt-inttut{
  from{width: 0;}
  to{width: 365px;}
}
@keyframes anim-txt-creativeplay{
  from{width: 0;}
  to{width: 335px;}
}
@keyframes anim-txt-wwwork{
  from{width: 0;}
  to{width: 195px;}
}



/* cursor animations */
@keyframes animated-cursor{
  from{border-right-color: var(--xtra-white);}
  to{border-right-color: transparent;}
}

@media (max-width: 800px) {
  .pagetxt > article{
    flex-direction: column;
    padding-bottom:4em;
  }

  .pagetxt * img{
    width: 100%;
    height: auto;
    object-fit: scale-down;

  }
  .pagetxt > article > .l-pad{
    padding-right:0;
  }

}


.starter-packs{
  display: flex;
  flex-flow: row wrap;
  align-items: center;
  justify-content: center;

}
.s-pack{
  background-color: var(--bg-color);
  border:var(--fg-color) 3px solid;
  border-radius: 1em 1em 0 0;
  padding: 2em;
  margin:2em;
  flex-grow:1;
  min-width: 12vw;
  max-width: 20vw;
}
.s-pack > h3{
  font-family:'pixel-comp';
  font-size: 3em;
  text-align:center;
}

.bub-stack{
  display: flex;
  flex-direction: column !important;
}
.bub-stack > button{
  margin-top:.5em;
}

footer{
  display: flex;
  flex-direction: row;
  justify-content:space-between;
  max-width: 800px;
  outline-offset: 2px;
  padding-top: 8em;
  margin: 0 auto;
}

footer img{
  max-width:400px;

}

.highlight {
  padding:.05em;
  line-height: .18em;
  animation-name: hil;
  animation-duration: 4s;
  background-origin: .2em;
  animation-iteration-count:infinite;
}

@keyframes hil {
  0% {background-color: #94ffce33;color: #94ffce;}
  50% {background-color: #94ffce;color: #060d1d;}
  100% {background-color: #94ffce33;color: #94ffce;}
}


.schedule {
  max-width: 800px;
  border: 1px solid var(--white);
  outline: 1px solid var(--white);
  outline-offset: 2px;
  padding: 20px;
  margin: 0 auto;
}

.s-row {
  display: flex;
  justify-content: space-between;
}

.s-row div:nth-child(2) {
  text-align: left;
}

@media (max-width: 800px) {
  .info { flex-direction: column; }

  .s-row {
    flex-direction: column;
    margin-bottom: 20px;
  }

  .outer-menu {
    top: 30px !important;

  }
  footer{
    display: flex;
    flex-direction: column;
    justify-content:space-between;
    max-width: 800px;
    outline-offset: 2px;
    padding: 20px;
    margin: 0 auto;
  }

  footer img{
    width:100%;
  }
}

.asciipage{
    font-size:1vw;
}

.asciimenu{
    font-size:.5em;
    text-shadow: var(--bg) 1px 1px;
}


.asciiheader{
  text-align: center;
  color:var(--white);
}

.asciiheader a{
  color:var(--white);
  transition: all .5s;
  text-decoration: none;

}

.asciiheader a:hover{
  color:#FFFFFF90;
  transition: all 2s;
}

/*gradient border from https://codepen.io/mike-schultz/pen/NgQvGO*/
.gradient-border {
  --borderWidth: 1px;
  background: #1D1F20;
  position: relative;
  border-radius: var(--borderWidth);
}

.gradient-border:after {
  content: '';
  position: absolute;
  top: calc(-1 * var(--borderWidth));
  left: calc(-1 * var(--borderWidth));
  height: calc(100% + var(--borderWidth) * 2);
  width: calc(100% + var(--borderWidth) * 2);
  background: linear-gradient(60deg, rgba(125,25,150,.5), rgba(25,25,0,.5));
  border-radius: calc(2 * var(--borderWidth));
  z-index: -1;
  animation: animatedgradient 3s ease alternate infinite;
  background-size: 800% 800%;
}


@keyframes animatedgradient {
  0% {
    background-position: 0% ;
  }
  100% {
    background-position: 100%;
  }
}



/* MENU */

.action-submit a{
  color:var(--yellow) !important;
}
.action-submit::after{
  content: ' (opens 3/1)';
}
.menu-link-secondary{
  font-size:1em !important;
  color:var(--txt);
  line-height: .5em;
}

.outer-menu a{
  text-decoration: none;
}

.outer-menu {
  position: fixed;
  top:10px;
  left:50%;
  margin-left:-30px;
  z-index: 1;
}
.outer-menu .checkbox-toggle {
  position: absolute;
  top: 0;
  left: 0;
  z-index: 2;
  cursor: pointer;
  width: 60px;
  height: 60px;
  opacity: 0;
}
.outer-menu .checkbox-toggle:checked + .hamburger > div {
  transform: rotate(135deg);
}
.outer-menu .checkbox-toggle:checked + .hamburger > div:before,
.outer-menu .checkbox-toggle:checked + .hamburger > div:after {
  top: 0;
  transform: rotate(90deg);
}
.outer-menu .checkbox-toggle:checked + .hamburger > div:after {
  opacity: 0;
}
.outer-menu .checkbox-toggle:checked ~ .menu {
  pointer-events: auto;
  visibility: visible;
}
.outer-menu .checkbox-toggle:checked ~ .menu > div {
  transform: scale(1);
  transition-duration: 0.75s;
}
.outer-menu .checkbox-toggle:checked ~ .menu > div > div {
  opacity: 1;
  transition: opacity 0.4s ease 0.4s;
}
.outer-menu .checkbox-toggle:hover + .hamburger {
  box-shadow: inset 0 0 10px rgba(0, 0, 0, 0.1);
}
.outer-menu .checkbox-toggle:checked:hover + .hamburger > div {
  transform: rotate(225deg);
}
.outer-menu .hamburger {
  position: absolute;
  top: 0;
  left: 0;
  z-index: 1;
  width: 60px;
  height: 60px;
  padding: 0.5em 1em;
  background: var(--bg);
  border-radius:50%;
  cursor: pointer;
  transition: box-shadow 0.4s ease;
  -webkit-backface-visibility: hidden;
          backface-visibility: hidden;
  display: flex;
  opacity:.90;
  align-items: center;
  justify-content: center;
  --borderWidth: 3px;
  position: relative;
  border-radius: var(--borderWidth);
}

.outer-menu .hamburger:after {
  content: '';
  position: absolute;
  top: calc(-1 * var(--borderWidth));
  left: calc(-1 * var(--borderWidth));
  height: calc(100% + var(--borderWidth) * 2);
  width: calc(100% + var(--borderWidth) * 2);
  background: linear-gradient(60deg, #f79533, #f37055, #ef4e7b, #a166ab, #5073b8, #1098ad, #07b39b, #6fba82);
  opacity:.5;
  border-radius: calc(2 * var(--borderWidth));
  z-index: -1;
  animation: animatedgradient 6s ease alternate infinite;
  background-size: 800% 800%;
}

.outer-menu .hamburger > div {
  position: relative;
  flex: none;
  width: 100%;
  height: 2px;
  background: #FEFEFE;
  transition: all 0.4s ease;
  display: flex;
  align-items: center;
  justify-content: center;
}
.outer-menu .hamburger > div:before,
.outer-menu .hamburger > div:after {
  content: '';
  position: absolute;
  z-index: 1;
  top: -10px;
  left: 0;
  width: 100%;
  height: 2px;
  background: inherit;
  transition: all 0.4s ease;
}
.outer-menu .hamburger > div:after {
  top: 10px;
}
.outer-menu .menu {
  position: fixed;
  top: 0;
  left: 0;
  width: 100%;
  height: 100%;
  pointer-events: none;
  visibility: hidden;
  overflow: hidden;
  -webkit-backface-visibility: hidden;
          backface-visibility: hidden;
  outline: 1px solid transparent;
  display: flex;
  align-items: center;
  justify-content: center;
}
.outer-menu .menu > div {
  width: 200vw;
  height: 200vw;
  color: #FEFEFE;
  background: var(--bg-color-alpha);
  background-image:url(../images/menu-wormhole.gif);
    image-rendering: optimizeSpeed;             /* STOP SMOOTHING, GIVE ME SPEED  */
    image-rendering: -moz-crisp-edges;          /* Firefox                        */
    image-rendering: -o-crisp-edges;            /* Opera                          */
    image-rendering: -webkit-optimize-contrast; /* Chrome (and eventually Safari) */
    image-rendering: pixelated; /* Chrome */
    image-rendering: optimize-contrast;         /* CSS3 Proposed                  */
    -ms-interpolation-mode: nearest-neighbor;   /* IE8+       */
  background-repeat: no-repeat;
  background-size: cover;
  border-radius: 50%;
  transition: all 0.4s ease;
  flex: none;
  transform: scale(0);
  -webkit-backface-visibility: hidden;
          backface-visibility: hidden;
  overflow: hidden;
  display: flex;
  align-items: center;
  justify-content: center;
}
.outer-menu .menu > div > div {
  text-align: center;
  max-width: 90vw;
  max-height: 100vh;
  opacity: 0;
  transition: opacity 0.4s ease;
  overflow-y: auto;
  flex: none;
  display: flex;
  align-items: center;
  justify-content: center;
}
.outer-menu .menu > div > div > ul {
  list-style: none;
  padding: 0 1em;
  margin: 0;
  display: block;
  max-height: 100vh;
}
.outer-menu .menu > div > div > ul > li {
  padding: 0;
  margin: 1em;
  font-size: 24px;
  display: block;
}
.outer-menu .menu > div > div > ul > li > a {
  position: relative;
  display: inline;
  cursor: pointer;
  transition: color 0.4s ease;
}
.outer-menu .menu > div > div > ul > li > a:hover {
  color: var(--xtra-white);
}
.outer-menu .menu > div > div > ul > li > a:hover:after {
  width: 100%;
}
.outer-menu .menu > div > div > ul > li > a:after {
  content: '';
  position: absolute;
  z-index: 1;
  bottom: -0.15em;
  left: 0;
  width: 0;
  height: 4px;
  background: var(--fg-color);
  transition: width 0.4s ease;
}



/* styles ripped from netnet */
.text-bubble-options > button {

  position: relative;
  transform: translate(0, 0);
  line-height: 1.5em;

  border: none;
  border-radius: 25px;
  padding: 5px 15px;
  margin-right: 0 5px 0 0;

  color: var(--bg-color);
  background: var(--fg-color);

  font-size: 15px;
  font-weight: 700;
  text-shadow: none;
  white-space: nowrap;

  box-shadow: 2px 2px 6px var(--netizen-hint-shadow);
  cursor: pointer;

  transition: box-shadow .3s ease, transform .3s ease;
}
.text-bubble-options > button:after {
  content: '';
  position: absolute;
  top: -3px;
  left: -3px;
  width: calc(100% + 4px);
  height: calc(100% + 4px);
  border-radius: 25px;
  border: 1px solid var(--fg-color);
  opacity: 0;
}
.text-bubble-options > button:hover {
  transform: translate(1px, 1px);
  box-shadow: 1px 1px 3px var(--netizen-hint-shadow);
}
.text-bubble-options > button:focus {
  outline: none;
  box-shadow: 1px 1px 3px var(--netizen-hint-shadow);
}
.text-bubble-options > button:focus:after {
  opacity: 1;
}