:root {
  --grey: #272527;
  --light-grey: #7E7E7F;
  --white: #e7e7f0;
  --purple: #7272D6;
  --green: #82E22E;
  --blue: #66D9CF;
  --red: #FC7575;
  --yellow: #E6DB6F;
  --red: #FC7575;
  --orange: #E96926;

  --start-size: 0vh;
  --end-size: 300vh;
}

@font-face {
    font-family: 'fira-sans-bold';
    src: url('fonts/firasans-bold-webfont.woff2') format('woff2'),
         url('fonts/firasans-bold-webfont.woff') format('woff');
    font-weight: normal;
    font-style: normal;

}

@font-face {
    font-family: 'fira-sans-regular';
    src: url('fonts/firasans-regular-webfont.woff2') format('woff2'),
         url('fonts/firasans-regular-webfont.woff') format('woff');
    font-weight: normal;
    font-style: normal;
}

@font-face {
    font-family: 'fira-mono-regular';
    src: url('fonts/FiraMono-Regular.woff2') format('woff2'),
         url('fonts/FiraMono-Regular.woff') format('woff');
    font-weight: normal;
    font-style: normal;
}

* { box-sizing: border-box; }

*::-moz-selection {
  background-color: var(--purple);
  color: var(--white);
}

*::selection {
  background-color: var(--purple);
  color: var(--white);
}

body {
  padding: 0; margin: 0;
  background-color: #060d1d;
  color: var(--white);
  font-family: 'fira-mono-regular', monospace;
  text-rendering: optimizeLegibility;
  -webkit-font-smoothing: antialiased;
  cursor: url(../images/cursor-hov.png), auto !important;
}

a {
  color: var(--purple);
}

a:hover {
  cursor: pointer;
}

pre {
  margin: 0 auto;
  font-family: 'fira-mono-regular', monospace;
}

canvas {
  position: absolute;
  top: 0;
  left: 0;
  z-index: -1;
}

section {
  max-width: 1200px;
  padding: 10px;
  margin: 0 auto;
}

.center { text-align: center; }
.small { font-size: 14px; }

#mc_embed_signup_scroll {
  background: #94ffce33;
  max-width: 370px;
  width: 100%;
  padding: 20px;
  border: 1px solid #94ffce;
  margin: 0 auto;
}

input {
  font-family: 'fira-mono-regular', monospace;
  background: none;
  color: var(--white);
  border: none;
  border-bottom: 1px solid var(--white);
  padding: 5px;
  margin: 15px;
  max-width: 300px;
  width: 100%;
  display: block;
}

input[type="submit"] {
  border: 1px solid var(--white);
  background: var(--white);
  color: var(--grey);
  text-transform: uppercase;
  cursor: pointer;
}

.info {
  display: flex;
  justify-content: space-between;
  margin: 50px auto;
}

.info > p {
  margin: 10px;
}

@media (max-width: 800px) {
  .info { flex-direction: column; }
}

.schedule {
  max-width: 800px;
  border: 1px solid var(--white);
  outline: 1px solid var(--white);
  outline-offset: 2px;
  padding: 20px;
  margin: 0 auto;
}

.s-row {
  display: flex;
  justify-content: space-between;
}

.s-row div:nth-child(2) {
  text-align: left;
}

@media (max-width: 800px) {
  .s-row {
    flex-direction: column;
    margin-bottom: 20px;
  }
}
